
@{
    ViewData["Title"] = "AdminHomePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        background-color : black; 
    }
</style>
<h2 class="text-center text-light mt-3">
    Welcome to Admin HomePage @if (ViewData["name"] != null)
    {
        @ViewData["name"]
    }
</h2>



